newrelic == 5.14.1.144
amqp == 1.4.9
amqplib == 1.0.2
anyjson == 0.3.3
backports-abc == 0.4
backports.ssl-match-hostname == 3.4.0.2
boto3 == 1.3.0
botocore == 1.4.10
billiard == 3.3.0.23
celery == 3.1.25
certifi == 2015.11.20.1
collective.recipe.template == 1.13
coverage == 4.0.3
docutils == 0.12
futures == 3.0.5
gevent == 1.1.2
greenlet == 0.4.13
httplib2 == 0.7.6
jmespath == 0.9.0
kombu == 3.0.37
mandrill == 1.0.53
mock == 1.0.1
motor == 1.2.1
msgpack-python == 0.5.6
nose == 1.3.7
pep8 == 1.7.0
pycurl == 7.43.0
pyflakes == 1.3.0
pyjwt == 0.1.2
pymongo == 3.6.0
python-postmark == 0.3.2
python-simple-hipchat == 0.4
python-statsd == 2.1.0
python-dateutil == 2.5.2
redis == 2.10.3
requests == 2.9.1
sendgrid == 0.1.3
simplejson == 3.8.0
singledispatch == 3.4.0.3
six == 1.10.0
tornado == 4.3
twilio == 5.6.0
urbanairship == 0.7.4